streamlit==1.32.2

langchain==0.2.16
langchain-community==0.2.16
langchain-openai==0.1.25
langchain-huggingface==0.0.3
langchain-text-splitters==0.2.4

pypdf==4.2.0
sentence-transformers==2.2.2

chromadb==0.5.3

openai==1.40.0
pydantic>=2.0.0